font-family: "Caveat", cursive;
font-family: "Playfair Display", serif;

.artists {
  font-family: Playfair Display;
  font-style: italic;
  color: #5f9ea0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Playfair Display";
}
